@use '../layout/primitives/center' as c;
@use '../layout/primitives/stack' as st;

.header {
  @include c.center;
  @include st.stack($space: --vertical-rhythm);

  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: var(--s4);
  line-height: 0.8;
  background: linear-gradient(
    90deg,
    rgba(1, 109, 119, 1) 0%,
    rgba(2, 212, 231, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header h2 {
  font-size: var(--s2);
}

.header .hr {
  width: 100%;
}
