@use '../settings/gradients' as g;

.hr {
  background: linear-gradient(
    90deg,
    #{g.gradient(2, end)} 0%,
    #{g.gradient(2, start)} 100%
  );

  hr {
    border: none;
    height: 0px;
    border-top-width: 8px;
    border-top-color: var(--background);
    border-top-style: dashed;
  }
}
