/**
 * The clamp function allows for fluid scaling of fonts, spacing and positioning based on the viewport
 * 
 * ALL UNITS MUST BE IN REMS
 * 
 * EXAMPLE: 
 *   font-size: fluidScaling(1, 1.5, 40, 90, font-size);
 * 
 * @see https://websemantics.uk/tools/responsive-font-calculator/
 * 
 */
@function _clamp($sizeMin, $sizeMax, $screenMin, $screenMax) {
  $x: #{$screenMin / 100};
  $y: 100 * ($sizeMax - $sizeMin) / ($screenMax - $screenMin);

  @return clamp(
    #{$sizeMin}rem,
    calc(#{$sizeMin}rem + ((1vw - #{$x}rem) * #{$y})),
    #{$sizeMax}rem
  );
}

@mixin fluidScaling(
  $sizeMin,
  $sizeMax,
  $screenMin,
  $screenMax,
  $property: font-size
) {
  #{$property}: #{$sizeMax}rem; //fallback for older browsers. Specifically IE11
  #{$property}: _clamp($sizeMin, $sizeMax, $screenMin, $screenMax);
}
