//https://every-layout.dev/layouts/switcher/

/**
 *
 * DEFAULTS
 *
 * */

@mixin switcher($space: size(s1), $breakpoint: 65ch) {
  --sw-space: #{$space};
  --sw-breakpoint: #{$breakpoint};

  > * {
    display: flex;
    flex-wrap: wrap;
    margin: calc((var(--sw-space) / 2) * -1);
  }

  > * > * {
    flex-grow: 1;
    flex-basis: calc((var(--sw-breakpoint) - (100% - var(--sw-space))) * 999);
    margin: calc(var(--sw-space) / 2);
  }

  //limits number of elements to less than 5
  > * > :nth-last-child(n + 5),
  > * > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
  }
}

.l-switcher {
  @include switcher();
}

/**
 *
 * MODIFIERS
 *
 * scale: s-1, s0, s1, s2 etc
 * breakpoint: --bp:55ch, --bp:20rem, etc
 * */
// .l-switcher.-s1 {
//   $space: size(s1);

//   --sw-space: #{$space};

//   > * {
//     margin: calc((#{$space} / 2) * -1);
//     margin: calc((var(--sw-space) / 2) * -1);
//   }

//   > * > * {
//     flex-basis: calc((#{$breakpoint} - (100% - #{$space})) * 999);
//     flex-basis: calc((var(--sw-breakpoint) - (100% - var(--sw-space))) * 999);
//     margin: calc(#{$space} / 2);
//     margin: calc(var(--sw-space) / 2);
//   }
// }

// .l-switcher.-bp\:55ch {
//   $breakpoint: 55ch;
//
//   --sw-breakpoint: #{$breakpoint};
//
//   > * > * {
//     flex-basis: calc((var(--sw-breakpoint) - (100% - #{$space})) * 999);
//     flex-basis: calc((var(--sw-breakpoint) - (100% - var(--sw-space))) * 999);
//   }
// }

.l-switcher.-s3.-bp\:20rem {
  @include switcher(size(s16), 50rem);
}
.l-switcher.-s2.-bp\:25rem {
  @include switcher(size(s2), 25rem);
}
.l-switcher.-s2.-bp\:0 {
  @include switcher(size(s2), 0);
}
