@use 'sass:color';
@use '../0-settings/colors';

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  color: var(--offwhite);
  background-color: var(--primary);
  padding: var(--vertical-rhythm);
}

.footer a {
  text-decoration-color: var(--offwhite);
}

.not-footer {
  background-color: var(--bg);
  min-height: calc(100vh - var(--vertical-rhythm));
  position: relative;
  z-index: 2;
  padding-bottom: var(--vertical-rhythm);
  box-shadow: 0px 10px 14px -9px color.scale(colors.$turquoise, $lightness: -50%);
}
