@use 'sass:color';

$turquoise: #016d77;
$seafoam: #02d4e7;
$purple: #b002a1;
$hotpink: #f702e3;
$white: #ffffff;
$offwhite: #f9f4f0;
$black: #0d1117;
$warmgray: #595959;

:root {
  --white: #{$white};
  --black: #{$black};
  --warmgray: #{$warmgray};
  --turquoise: #{$turquoise};
  --seafoam: #{$seafoam};
  --purple: #{$purple};
  --hotpink: #{$hotpink};
  --offwhite: #{$offwhite};
  --primary: var(--turquoise);
  --secondary: var(--purple);
  --bg: var(--offwhite);
}
