$turquoise: #016d77;
$seafoam: #02d4e7;
$purple: #b002a1;
$hotpink: #f702e3;
$offwhite: #f9f4f0;
$githubBlack: #0d1117;

:root {
  --turquoise: #{$turquoise};
  --seafoam: #{$seafoam};
  --purple: #{$purple};
  --hotpink: #{$hotpink};
  --offwhite: #{$offwhite};
  --github-black: #{$githubBlack};
  --primary: var(--turquoise);
  --secondary: var(--purple);
  --bg: var(--theme-light-bg);
  --text-color: var(--theme-light-text);
  --theme-light-text: var(--github-black);
  --theme-light-bg: var(--offwhite);
  --theme-dark-text: var(--offwhite);
  --theme-dark-bg: var(--github-black);

  &[theme="dark"] {
    --bg: var(--theme-dark-bg);
    --text-color: var(--theme-dark-text);
  }
}
