
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

$teko: 'Teko', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

:root {
  --display: #{$teko};
  --text: #{$ubuntu};
}
