//https://every-layout.dev/layouts/center/

.l-center {
  --cr-mw: var(--bp-64);

  box-sizing: content-box;
  margin-inline: auto;
  max-width: var(--cr-mw);
  display: flex;
  flex-direction: column;
  padding-inline: var(--cr-padding, 0);
}
