//https://every-layout.dev/layouts/grid/

.l-grid {
  display: grid;
  width: 100%;
  gap: var(--gr-gap, var(--s0));
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-width), 100%), 1fr)
  );
}