<footer class='footer'>
  <div class="l-stack l-center u-align-items-center">
    <h2 id="contact">🙂 I'd love to hear from you! 🙃</h2>

    <ul class="l-cluster" role='list'>
      <li><a href="https://www.twitter.com/csrcreative">Twitter</a></li>
      <li><a href="https://codepen.io/romerocs">CodePen</a></li>
      <li><a href="https://github.com/romerocs">GitHub</a></li>
    </ul>
  </div>
</footer>