<header class='header l-center u-align-items-center u-margin-block-s0'>
  <a href="/">
    {{ '/_template/static/logo.inline.svg' | svgContents | safe }}
    <span class="u-show-for-sr">Chris Romero - Frontend Web Developer</span>
  </a>
</header>