<header class='header'>
      <div>
        <h1>
          <img src="/static/logo.inline.svg" alt="">
          <span class="u-show-for-sr">Chris Romero - Frontend Web Developer</span>
        </h1>
      </div>

      {% include 'components/animated-pattern-svg.njk' %}
</header>