---
layout: layouts/base.njk
---

<main class='l-stack u-margin-top-0'>
  <section class='l-center introduction'>
    <p>Hi there 😀, welcome to my site. I'm a front-end developer in Richmond, VA. I enjoy thinking about and writing in html, css and presentational javascript. I also like to think about the people that use the websites I build, and how to improve their experiences on them.</p>
  </section>
</main>