<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Web site created using create-snowpack-app" />
    <link rel="stylesheet" type="text/css" href="/dist/css/index.css" />
    <title>Snowpack Apps</title>
  </head>
  <body>
    <div class="not-footer">
      {% include 'components/header.njk' %}
                              
      {{ content | safe }}
    </div>
    
    {% include 'components/footer.njk' %}
    <script type="module" src="/dist/js/index.js"></script>
  </body>
</html>
